@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using LBQuiz.Data;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager




<MudThemeProvider/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        
        <MudIconButton OnClick="@(() => ControlDrawer())" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"></MudIconButton>
        
        <MudText Typo="Typo.h6" Class="ml-3">LBQuiz</MudText>
        <MudSpacer/>
        <AuthorizeView>
            <Authorized>
                <form method="post" action="/logout" style="display:inline">
                    <MudButton ButtonType="ButtonType.Submit"
                               Color="Color.Inherit"
                               Variant="Variant.Text">
                        Logout
                    </MudButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <MudButton Href="/Account/Login" Variant="Variant.Text" Color="Color.Inherit">Login</MudButton>
                <MudButton Href="/Account/Register"
                           Variant="Variant.Text"
                           Color="Color.Inherit">
                    Register
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    
    <MudDrawer @bind-Open="_open" OverlayAutoClose="true" Elevation="1" ClipMode="DrawerClipMode.Docked">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5">LBQuiz</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="/" Icon="@Icons.Material.Outlined.Home">Home</MudNavLink>
            
            <MudNavGroup Title="Quiz Options" Icon="@Icons.Material.Outlined.Settings">
                <MudNavLink Href="/quiz/create" Icon="@Icons.Material.Outlined.Quiz">Create Quiz</MudNavLink>
                <MudNavGroup Title="Edit A Quiz" Icon="@Icons.Material.Outlined.Edit">
                    <MudNavLink Href="/quiz/question/choose" Icon="@Icons.Material.Outlined.Add">Add Questions</MudNavLink>
                    <MudNavLink Href="quiz/question/update" Icon="@Icons.Material.Outlined.EditNote">Update or Remove Questions</MudNavLink>
                </MudNavGroup>
            </MudNavGroup>
            
            <MudNavLink Href="/lobby/create" Icon="@Icons.Material.Outlined.Assignment">Host Quiz</MudNavLink>
            
            <MudNavLink Href="/AboutUs" Icon="@Icons.Material.Outlined.Info" Disabled="false">About Us</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <div class="page-wrapper">
        <div class="aurora-main-bg"></div>
        <div class="page-content">
    <MudMainContent>
        @Body
    </MudMainContent>
        </div>
    </div>

</MudLayout>


@code{
    private bool _open = false;
    
    private void ControlDrawer()
    {
        _open = !_open;
    }
}
