@page "/quiz/{QuizId:int}/question/create"
@inject ApplicationDbContext _dbcontext
@inject IQuestionManager QuestionManager
@using LBQuiz.Models;
@using Microsoft.EntityFrameworkCore
@using Data
@using Services.Interfaces
@using Models.Helpers

<h3>Create Question</h3>
@if (string.IsNullOrEmpty(picked))
{
    <MudSelect T="string" @bind-Value="picked" Label="Select QuestionType" HelperText="String" Placeholder="Please Select" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Filled.Quiz">
        @foreach (var qt in questionTypes)
        {
            <MudSelectItem T="string" Value="@(qt)">@qt</MudSelectItem>
        }

    </MudSelect>
}
else if (picked == "Open Question")
{
    <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">

        <MudTextField @bind-Value="_questionText"
                      Label="Question"
                      Variant="Variant.Filled"
                      Required="true"
                      For="@(() => _questionText)" />

        <MudTextField @bind-Value="_correctAnswer"
                      Label="Correct Answer"
                      Variant="Variant.Filled"
                      Required="true"
                      For="@(() => _correctAnswer)" />

        <MudNumericField @bind-Value="_questionPoints"
                         Label="Points"
                         Variant="Variant.Filled"
                         Min="0"
                         Max="1000"
                         For="@(() => _questionPoints)" />



        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>

    </MudForm>
}
else if (picked == "Slider")
{
    <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">

        <MudTextField @bind-Value="_questionText"
                      Label="Question"
                      Variant="Variant.Filled"
                      Required="true"
                      For="@(() => _questionText)" />

        <MudNumericField @bind-Value="_minValue"
                            Variant="Variant.Filled"
                            Min="0"
                            Max="100"
                            Label="Minimal value">
        </MudNumericField>
        <MudNumericField @bind-Value="_maxValue"
                         Variant="Variant.Filled"
                         Min="0"
                         Max="100">

        </MudNumericField>
        <MudNumericField @bind-Value="_correctValue"
                         Variant="Variant.Filled"
                         Min="_minValue"
                         Max="_maxValue"
                         Label="Maximal value">

        </MudNumericField>

        <MudNumericField @bind-Value="_questionPoints"
                         Label="Points"
                         Variant="Variant.Filled"
                         Min="0"
                         Max="1000"
                         For="@(() => _questionPoints)" />



        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>

    </MudForm>
}
else if (picked == "Multiple Picker")
{
    <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">

        <MudTextField @bind-Value="_questionText"
                      Label="Question"
                      Variant="Variant.Filled"
                      Required="true" />
        <MudNumericField @bind-Value="_questionPoints"
                         Label="Points"
                         Variant="Variant.Filled">
        </MudNumericField>
        <MudNumericField 
            @bind-Value="_numberOfOptions" 
            Variant="Variant.Filled" 
            Min="0"
            Max="10" 
            Label="Number of options"
            @bind-Value:after="UpdateMultipleOptions">
        </MudNumericField>
        @for (int i = 0; i < _numberOfOptions; i++)
        {
            var index = i;
            <MudTextField @bind-Value="_multipleOptions[index].QuestionText"
                              Label="Option"
                              Variant="Variant.Filled"
                              Required="true" />

                <MudCheckBox @bind-Value="_multipleOptions[index].QuestionText"
                             Color="Color.Primary" />
            
        }

        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>

    </MudForm>
}


@code {
    ///quiz/1/question/create
    [Parameter] public int QuizId { get; set; }

    private MudForm _questionForm;

    private string _questionText { get; set; } = string.Empty;
    private string _correctAnswer { get; set; } = string.Empty;
    private int _questionPoints { get; set; }
    public List<string> questionTypes = new() { "Open Question", "Slider", "Multiple Picker" };
    public string picked { get; set; }
    private int _minValue;
    private int _maxValue;
    private int? _correctValue;
    private int _numberOfOptions = 0;
    private List<MultipleChoiceAnswer> _multipleOptions = new();

    private async Task SaveQuestion()
    {
        await _questionForm.Validate();
        if (picked == "Slider" && _minValue > _maxValue)
        {
            _questionText = "Your max value can not be lesser than your min value, try again";
            return;
        }

        if (!_questionForm.IsValid)
        {
            // Implementera error vid fel värden i form
            return;
        }

        if (picked == "Open Question")
        {
            await QuestionManager.CreateOpenQuestion(QuizId, _questionText, _correctAnswer, _questionPoints);
        }
        else if(picked == "Slider")
        {
            await QuestionManager.CreateSliderQuestion(QuizId, _minValue, _maxValue,_correctValue, _questionText);
        }
        else if (picked == "Multiple Picker")
        {
            await QuestionManager.CreateMultipleChoiceQuestion(QuizId, _questionPoints, _questionText, _multipleOptions);
        }

        try
        {
            await _dbcontext.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while saving the question: {ex.Message}");
        }
    }

    private void UpdateMultipleOptions()
    { 
        _multipleOptions = Enumerable
        .Range(0, _numberOfOptions)
        .Select(_ => new MultipleChoiceAnswer()).ToList(); 
    }

    
}