@page "/quiz/{QuizId:int}/question/create"
@inject ApplicationDbContext _dbcontext
@inject IQuestionManager QuestionManager
@inject NavigationManager NavigationManager
@using LBQuiz.Models;
@using Microsoft.EntityFrameworkCore
@using Data
@using LBQuiz.Components.Helpers
@using Services.Interfaces
@using Mono.TextTemplating
@using Models.Helpers

<AuthorizeView>
    <Authorized>
        <div class="createBar">
            <MudText Align="Align.Center" Typo="Typo.h5">
                Create a new question
                <MudIcon Icon="@Icons.Material.Filled.QuestionAnswer"></MudIcon>
            </MudText>
        </div>
        

        @if (string.IsNullOrEmpty(picked))
        {
            <MudSelect T="string" @bind-Value="picked" Label="Select QuestionType" HelperText="String" Placeholder="Please Select" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Filled.Quiz">
                @foreach (var qt in questionTypes)
                {
                    <MudSelectItem T="string" Value="@(qt)">@qt</MudSelectItem>
                }

            </MudSelect>
        }
        else if (picked == "Open Question")
        {
            <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">

                <MudTextField @bind-Value="_questionText"
                              Label="Question"
                              Variant="Variant.Filled"
                              Required="true"
                              For="@(() => _questionText)"/>

                <MudTextField @bind-Value="_correctAnswer"
                              Label="Correct Answer"
                              Variant="Variant.Filled"
                              Required="true"
                              For="@(() => _correctAnswer)"/>

                <MudNumericField @bind-Value="_questionPoints"
                                 Label="Points"
                                 Variant="Variant.Filled"
                                 Min="0"
                                 Max="1000"
                                 For="@(() => _questionPoints)"/>



                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>

            </MudForm>
        }
        else if (picked == "Slider")
        {
            <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">

                <MudTextField @bind-Value="_questionText"
                              Label="Question"
                              Variant="Variant.Filled"
                              Required="true"
                              For="@(() => _questionText)"/>

                <MudNumericField @bind-Value="_minValue"
                                 Variant="Variant.Filled"
                                 Min="0"
                                 Max="1000000"
                                 Label="Minimal value">
                </MudNumericField>
                <MudNumericField @bind-Value="_maxValue"
                                 Variant="Variant.Filled"
                                 Min="0"
                                 Max="1000000">

                </MudNumericField>
                <MudNumericField @bind-Value="_correctValue"
                                 Variant="Variant.Filled"
                                 Min="_minValue"
                                 Max="_maxValue"
                                 Label="Correct Value">

                </MudNumericField>

                <MudNumericField @bind-Value="_questionPoints"
                                 Label="Points"
                                 Variant="Variant.Filled"
                                 Min="0"
                                 Max="1000"
                                 For="@(() => _questionPoints)"/>



                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>

            </MudForm>
        }
        else if (picked == "Multiple Picker")
        {
            <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">

                <MudTextField @bind-Value="_questionText"
                              Label="Question"
                              Variant="Variant.Filled"
                              Required="true"/>
                <MudNumericField @bind-Value="_questionPoints"
                                 Label="Points"
                                 Variant="Variant.Filled">
                </MudNumericField>
                <MudNumericField
                    @bind-Value="_numberOfOptions"
                    Variant="Variant.Filled"
                    Min="0"
                    Max="10"
                    Label="Number of options"
                    @bind-Value:after="UpdateMultipleOptions">
                </MudNumericField>
                @for (int i = 0; i < _numberOfOptions; i++)
                {
                    var index = i;
                    <MudTextField @bind-Value="_multipleOptions[index].Text"
                                  Label="Option"
                                  Variant="Variant.Filled"
                                  Required="true"/>

                    <MudCheckBox @bind-Value="_multipleOptions[index].CorrectFalse"
                                 CheckedIcon="@Icons.Material.Filled.Bookmark"
                                 Color="Color.Tertiary"
                                 Label="True/False"/>

                }

                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>

            </MudForm>
        }
        else if (picked == "Word Cloud")
        {
            <MudForm @ref="_questionForm" OnValidSubmit="SaveQuestion">
                <MudTextField @bind-Value="_questionText"
                              Label="Question"
                              Variant="Variant.Filled"
                              Required="true"/>
                
                <MudNumericField @bind-Value="_maxEntries"
                                 Label="Max entries"
                                 Variant="Variant.Filled"
                                 Min="1"
                                 Max="10"
                                 Required="true"/>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SaveQuestion">Save Question</MudButton>
            </MudForm>
        }
        <MudText Align="Align.Center" Style="margin-top: 100px; color: rgba(0,0,0,0.4);">Total questions in this quiz: @_numberOfQuestionsInQuiz</MudText>

    </Authorized>
    
    <NotAuthorized>
        <NotAuthorizedHelper/>
    </NotAuthorized>

</AuthorizeView>



@code {
    [Parameter] public int QuizId { get; set; }

    private MudForm _questionForm;

    private string _questionText { get; set; } = string.Empty;
    private string _correctAnswer { get; set; } = string.Empty;
    private int _questionPoints { get; set; }
    public List<string> questionTypes = new() { "Open Question", "Slider", "Multiple Picker", "Word Cloud" };
    public string picked { get; set; }
    private int _minValue;
    private int _maxValue;
    private int _correctValue;
    private int _numberOfOptions = 0;
    private int _maxEntries;
    private List<MultipleOptions> _multipleOptions = new();
    private int _numberOfQuestionsInQuiz;

    protected override async Task OnInitializedAsync()
    {
        _numberOfQuestionsInQuiz = await QuestionManager.GetNumberOfQuestionInQuizAsync(QuizId);
        await InvokeAsync(StateHasChanged);
    }

    private async Task SaveQuestion()
    {
        await _questionForm.Validate();
        if (picked == "Slider" && _minValue > _maxValue)
        {
            _questionText = "Your max value can not be lesser than your min value, try again";
            return;
        }

        if (!_questionForm.IsValid)
        {
            // Implementera error vid fel värden i form
            return;
        }

        if (picked == "Open Question")
        {
            await QuestionManager.CreateOpenQuestion(QuizId, _questionText, _correctAnswer, _questionPoints);
        }
        else if(picked == "Slider")
        {
            await QuestionManager.CreateSliderQuestion(QuizId, _minValue, _maxValue,_correctValue, _questionPoints, _questionText);
        }
        else if (picked == "Multiple Picker")
        {
            int id = 1;
            foreach(var m in _multipleOptions)
            {
                m.Id = id;
                m.ColorString = "rgba(255,0,0,0.4)";
                id++;
            }
            await QuestionManager.CreateMultipleChoiceQuestion(QuizId, _questionPoints, _questionText, _multipleOptions);
        }
        else if (picked == "Word Cloud")
        {
            await QuestionManager.CreateWordCloudQuestion(QuizId, _questionText, _maxEntries);
        }

        try
        {
            await _dbcontext.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while saving the question: {ex.Message}");
        }
        picked = "";
        _numberOfQuestionsInQuiz = await QuestionManager.GetNumberOfQuestionInQuizAsync(QuizId);
        await InvokeAsync(StateHasChanged);
    }

    private void UpdateMultipleOptions()
    { 
        _multipleOptions = Enumerable
        .Range(0, _numberOfOptions)
        .Select(_ => new MultipleOptions()).ToList(); 
    }

    
}