@using LBQuiz.Models
@using LBQuiz.Models.Helpers
@using LBQuiz.Models.Lobby
@using Services.Interfaces
@using System.Security.Claims
 @inject ILobbyParticipantManager LobbyParticipantManager
 @inject IChatHubConnection ChatHubConnection
 @inject ILobbyHubConnection LobbyHubConnection
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudInputLabel Style="margin-left: 10px;">Message: <MudInput @bind-Value="playerMessage.Message" OnKeyUp="HandleKeyDown"></MudInput><MudButton OnClick="OnHandleChatSend">Send</MudButton></MudInputLabel>
@foreach (var mess in AllMessages)
{
    @if (HostId != null)
    {
        if (HostId == mess.SenderId)
        {
            <MudChat ChatPosition="ChatBubblePosition.Start">
                <MudChatBubble Color="Color.Success">
                    <MudAvatar Color="Color.Default"
                               Size="Size.Small">
                        <MudIcon Color="Color.Success" Icon="@Icons.Material.Filled.EmojiEmotions"></MudIcon>
                    </MudAvatar><MudText>@mess.SenderName | @mess.Message</MudText>
                </MudChatBubble>
            </MudChat>
        }
        else
        {
            <MudChat ChatPosition="ChatBubblePosition.End">
                <MudChatBubble>
                    <MudAvatar Color="Color.Default"
                               Size="Size.Small">
                        @mess.SenderName[0]
                    </MudAvatar><MudText><span style="opacity: 0.5;">@mess.SenderName |</span> @mess.Message</MudText>

                </MudChatBubble>
            </MudChat>
        }
    }
}

@code {
    [Parameter]
    public string? HostId { get; set; }

    [Parameter]
    public string? LobbyId { get; set; }

    public List<ChatMessage> AllMessages { get; set; } = new();

    public ChatMessage playerMessage { get; set; } = new();

    private LobbyParticipant? _currentParticipant;

    protected override void OnInitialized()
    {
        ChatHubConnection.OnMessageRecived += HandleMessageReceived;
    }

    private async Task HandleMessageReceived(ChatMessage chatMessage)
    {
        AllMessages.Add(chatMessage);
        AllMessages = AllMessages.OrderByDescending(m => m.TimeSent).ToList();

        await InvokeAsync(StateHasChanged);
    }

    public async Task OnHandleChatSend()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        if(userId == HostId)
        {
            playerMessage.SenderId = userId;
            playerMessage.SenderName = "Host";
            playerMessage.TimeSent = DateTime.UtcNow;
            playerMessage.LobbyId = LobbyId;
            await ChatHubConnection.SendMessage(playerMessage);
            playerMessage = new();
            return;
        }
        else if (LobbyParticipantManager.GetLobbyParticipant(LobbyHubConnection.ConnectionId) != null)
        {
            var currentParticipant = LobbyParticipantManager.GetLobbyParticipant(LobbyHubConnection.ConnectionId);
            playerMessage.SenderId = currentParticipant.ConnectionId;
            playerMessage.SenderName = currentParticipant.Nickname;
            playerMessage.TimeSent = DateTime.UtcNow;
            playerMessage.LobbyId = LobbyId;
            await ChatHubConnection.SendMessage(playerMessage);
            playerMessage = new();
            return;
        }
        else
        {
            return;
        }
    }
    public async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await OnHandleChatSend();
        }
    }

}
