@using LBQuiz.Services.Interfaces
@using LBQuiz.Hubs
@using LBQuiz.Models
@using LBQuiz.Models.Lobby
@using LBQuiz.Models.Helpers
@using Microsoft.EntityFrameworkCore
@using LBQuiz.Data
@using System.Text.Json
@using System.Security.Claims
@inject ILobbyHubConnection LobbyHub
@inject ILobbyParticipantManager LobbyManager
@inject IQuestionManager questionManager
@inject IQuizManager QuizManager
@inject IChatHubConnection ChatHubConnection
@inject ILobbyService LobbyService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject IDbContextFactory<ApplicationDbContext> ContextFactory

@page "/quiz/host/{LobbyCode}"

@if (ShowHandleAnswers)
{
    <HandleAnswers ParticipantAnswers="_submittedAnswers" QuestionIndex="_questionIndex" LobbyId="_currentLobby.Id" CurrentQuestion="AllQuestions[_questionIndex]" OnCloseHandleAnswer="() => CloseHandleAnswersComponent()"></HandleAnswers>
}
else if (_showResults == true) // Show scoreboard
{
    <div style="background-color: aliceblue; min-height: 100vh; width: 100%;">
        <MudText Typo="Typo.h2" Align="Align.Center">Results</MudText>

        <MudContainer>
            <MudGrid Class="mb-4">
                
                @foreach (var part in _userList.Take(3).Select((p, index) => new {Player= p, Rank = index + 1}))
                {
                    <MudItem xs="4">
                        <MudPaper Class="ps-4 text-center" Style="background-color: lightblue">
                            <MudText Typo="Typo.h3">@part.Rank</MudText>
                            <MudText Typo="Typo.h4">@part.Player.Nickname</MudText>
                            <MudText Typo="Typo.body1" Color="Color.Primary">@part.Player.Score</MudText>
                        </MudPaper>
                    </MudItem>
                }

            </MudGrid>
        </MudContainer>
        
        <MudDivider DividerType="DividerType.Middle" Class="my-5"></MudDivider>
        
        <MudContainer Class="mb-5">
            <MudStack Spacing="2">
                @foreach (var part in _userList.Skip(3).Select((p, index) => new { Player = p, Rank = index + 4 }))
                {
                    <MudPaper Class="pe-2 d-flex justify-content-between align-items-center" Style="background-color: lightblue">
                        <MudText Typo="Typo.body1" Class="me-3">@part.Rank</MudText>
                        <MudText Typo="Typo.body1" Class="m3-3 flex-grow-1">@part.Player.Nickname</MudText>
                        <MudText Typo="Typo.body1" Color="Color.Primary">@part.Player.Score</MudText>
                    </MudPaper>
                    <MudDivider DividerType="DividerType.Middle"></MudDivider>
                }
            </MudStack>
        </MudContainer>
        
        <MudContainer Class="d-flex justify-center mb-4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="EndQuiz">End Quiz</MudButton>
        </MudContainer>
    </div>

    
}
else // Questions
{

    <div class="hostPageContainer">
        <div>
            
            @if (AllQuestions == null || AllQuestions.Count == 0)
            {
                <MudItem>No Questions</MudItem>
            }
            else if (AllQuestions[_questionIndex].QuestionType == "WordCloud")
            {
                <MudPaper Class="pe-4" Style="height: 60vh;">
                    <canvas id="wordCloudCanvas" style="width: 100%; height: 100%;"></canvas>
                </MudPaper>
            }
            else if (AllQuestions[_questionIndex].QuestionType == "Review")
            {
                <MudPaper Class="pa-4" Style="min-height: 400px; background-color: #f5f5f5;">
                    <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-4">@AllQuestions[_questionIndex].QuestionText</MudText>
                    
                    @if (_reviewResponses.Count > 0)
                    {
                        <MudPaper Class="pa-4 mb-4" Style="background-color: #e3f2fd;">
                            <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Primary">Average: @CalculateAverage()</MudText>
                            <MudText Typo="Typo.body1" Align="Align.Center" Class="mt-2">Based on @_reviewResponses.Count responses</MudText>
                        </MudPaper>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1" Align="Align.Center" Class="mt-4">Waiting for responses...</MudText>
                    }
                </MudPaper>
            }
            else
            {
                <MudItem xs="12" md="4">
                    <MudPaper Class="pa-4" Style="height: 250px; background-color: antiquewhite; border: 1px solid black">
                        <MudItem>@AllQuestions[_questionIndex].QuestionText</MudItem>
                    </MudPaper>
                </MudItem>
            }
            <MudButton Disabled="previousButton" OnClick="PreviousQuestion">Previous question</MudButton>
            <MudButton Disabled="nextButton" OnClick="NextQuestion">Next question</MudButton>
            <MudButton Disabled="_resultButton" OnClick="ShowResults">Show results</MudButton>
            <MudButton OnClick="() => ShowHandleAnswers = true">Handle Answers</MudButton>
        </div>
        <div>
            <MudText Typo="Typo.h2" Align="Align.Center" Style="text-decoration: underline">Participants</MudText>
            <ul>
                @foreach (var user in _userList)
                {
                    <li>
                        <MudAvatar Color="Color.Tertiary"
                                   Size="Size.Small">
                            @user.Nickname[0]
                        </MudAvatar>
                        - @user.Nickname - @user.Score points
                    </li>
                }
                @foreach (var text in particapantSliderList)
                {
                    <li>
                        <p>@text</p>
                    </li>
                }
                @foreach (var text in _multipleAnswersList)
                {
                    <li>
                        <p>@text</p>
                    </li>
                }
            </ul>
        </div>
    </div>

    <MudGrid Spacing="2" Style="margin-top: 20px; height:100vh">


        <MudItem xs="12" md="8" Style="text-align: center;">
            <MudText Class="@_animationClass" Style="color: rgba(0,0,0,0.4);" Typo="Typo.h6">Answers: @_submittedAnswers.Count / @_userList.Count</MudText>
        </MudItem>


        <MudItem xs="12" md="4" Style="border: 1px solid rgba(255,144,0,0.6); box-shadow: 4px 4px 2px orange inset; background-color: rgba(147,202,237,0.4);">
            <LBQuiz.Components.Pages.Chat.ChatComponent HostId="@_currentHostId" LobbyId="@_currentLobby.Id.ToString()"></LBQuiz.Components.Pages.Chat.ChatComponent>
        </MudItem>
    </MudGrid>

}


@code {

    [Parameter] public string LobbyCode { get; set; }


    private IDbContextFactory<ApplicationDbContext> _factory;
    private bool previousButton = true;
    private bool nextButton = false;
    private bool _resultButton = true;
    private bool _showResults = false;
    private List<LobbyParticipant> _userList = new();
    private List<ParticipantAnswer> _submittedAnswers = new();
    private int _questionIndex = 0;
    private List<QuestionJsonBlob> AllQuestions = new();
    private int? _score = 0;
    private List<string> particapantSliderList = new();
    private List<string> _multipleAnswersList = new();
    private List<LobbyParticipant> TopThree => _userList.Take(3).ToList();
    private string? _currentHostId;
    private Models.Lobby.QuizLobby _currentLobby = new();
    private bool ShowHandleAnswers = false;
    private List<string> _wordCloudWords = new();
    private Dictionary<string, int> _reviewResponses = new();
    private string _animationClass = "";


    public HostQuizPage(IDbContextFactory<ApplicationDbContext> dbContext)
    {
        _factory = dbContext;
    }

    protected override async Task OnInitializedAsync()
    {
        using var context = await _factory.CreateDbContextAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        _currentLobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        _currentHostId = userId;

        await LobbyHub.InitializeAsync(Navigation, userId);
        await ChatHubConnection.InitializeAsync(Navigation);

        foreach (var participant in LobbyHub.Participants)
        {
            _userList.Add(participant);
        }

        var selectedQuiz = context.Quiz.FirstOrDefault(q => q.Id == _currentLobby.QuizId);

        await GetAllQuestionsFromQuiz();

        LobbyHub.OnParticipantsChanged += async () =>
        {
            _userList = LobbyHub.Participants.ToList();
            await InvokeAsync(StateHasChanged);
        };
        LobbyHub.OnQuestionChanged += HandleNextQuestion;
        LobbyHub.OnAnswerRecieved += HandleAnswerRecieved;
        LobbyHub.OnCalculateScoreBoard += HandleScoreUpdate;
        LobbyHub.OnShowSliderValueToHost += HandleSliderValue;
        LobbyHub.OnShowMultipleAnswersToHost += HandleMultipleAnswers;
        LobbyHub.OnPointsDeducted += HandlePointsDeducted;
        LobbyHub.OnPointsAwarded += HandlePointsAwarded;

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LobbyHub.JoinLobbyAsHostAsync(_currentLobby.Id);
        }
    }

    private async Task GetAllQuestionsFromQuiz()
    {
        using var context = await _factory.CreateDbContextAsync();
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        var questions = context.QuestionJsonBlobs.Where(q => q.QuizId == lobby.QuizId).ToList();

        if (questions != null)
        {
            AllQuestions = questions;
        }
    }

    private async Task HandleNextQuestion(int questionIndex)
    {
        if(questionIndex < AllQuestions.Count)
        {
            _questionIndex = questionIndex;
        }
        _wordCloudWords.Clear();
        _reviewResponses.Clear();
        
        if (_questionIndex == 0) previousButton = true;
        else if (_questionIndex == AllQuestions.Count - 1)
        {
            nextButton = true;
            _resultButton = false;
        }
        else if (AllQuestions.Count == 1)
        {
            previousButton = true;
            nextButton = true;
        }
        else
        {
            previousButton = false;
            nextButton = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task NextQuestion()
    {
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        await LobbyHub.GoToNextQuestionAsync(_questionIndex, lobby.Id);
        await InvokeAsync(StateHasChanged);
    }

    private async Task PreviousQuestion()
    {
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        await LobbyHub.GoToPreviousQuestionAsync(_questionIndex, lobby.Id);
        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowResults()
    {
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        _showResults = true;
        _userList = _userList.OrderByDescending(p => p.Score).ToList();
        await LobbyHub.GoToResultsAsync(_showResults, lobby.Id, _userList);
        await InvokeAsync(StateHasChanged);
    }

    private async Task EndQuiz()
    {
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        await LobbyHub.EndQuizAsync(lobby.Id);
        await InvokeAsync(StateHasChanged);
    }

    private async Task RenderWordCloud()
    {
        var grouped = _wordCloudWords
            .Where(w => !string.IsNullOrWhiteSpace(w))
            .GroupBy(w => w.ToLower())
            .Select(g => new object[] { g.Key, g.Count() })
            .ToList();

        await JS.InvokeVoidAsync("renderWordCloud", "wordCloudCanvas", grouped);
    }

    private async Task HandleAnswerRecieved(string answer, LobbyParticipant participant)
    {
        if (string.IsNullOrEmpty(answer))
        {
            answer = "No answer given"; 
        }
        var correctFalse = await questionManager.ReturnBoolOnAnswer(AllQuestions[_questionIndex], answer.ToLower());
        var currentQuestion = AllQuestions[_questionIndex];
        Color answerColor;
        
        // Review questions don't have correct/incorrect answers
        if (currentQuestion.QuestionType == "Review")
        {
            answerColor = Color.Info;
        }
        else
        {
            // var correctFalse = await questionManager.ReturnBoolOnAnswer(currentQuestion, answer.ToLower());
            answerColor = correctFalse ? Color.Success : Color.Error;
        }
        
        var lobbyParticipant = new ParticipantAnswer
        {
            Answer = answer,
            Participant = participant,
            QuestionJB = currentQuestion,
            AnswerColor = answerColor
        };
        _submittedAnswers.Add(lobbyParticipant);

        await TriggerAnimation();


        if (AllQuestions[_questionIndex].QuestionType == "WordCloud")
        {
            var words = JsonSerializer.Deserialize<List<string>>(answer);
            if (words != null)
            {
                _wordCloudWords.AddRange(words.Where(w => !string.IsNullOrWhiteSpace(w)));
            }

            await InvokeAsync(async () =>
            {
                StateHasChanged();
                await Task.Delay(100);
                await RenderWordCloud();
            });
        }
        else if (currentQuestion.QuestionType == "Review")
        {
            if (int.TryParse(answer, out int reviewValue))
            {
                _reviewResponses[participant.Nickname] = reviewValue;
            }
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleScoreUpdate(string answer, QuestionJsonBlob question, LobbyParticipant participant, int points)
    {
        var userUpdate = _userList.FirstOrDefault(p => p.Nickname == participant.Nickname);
        if (userUpdate != null)
        {
            userUpdate.Score += points;
        }
        else
        {
            _userList.Add(participant);
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleSliderValue(int sliderValue, int quizId, LobbyParticipant lobbyParticipant, string questionText)
    {
        string sliderText = questionText + " : " + lobbyParticipant.Nickname + " set their slidervalue to: " + sliderValue;

        particapantSliderList.Add(sliderText);
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleMultipleAnswers(LobbyParticipant participant, int quizId, List<MultipleOptions> participantAnswers, int questionId)
    {
        int numberOfCorrectAnswers = 0;

        var question = await questionManager.GetQuestionJsonBlobFromQuestionIdAsync(questionId);
        var optionsList = JsonSerializer.Deserialize<List<MultipleOptions>>(question.Blob);
        foreach (var result in optionsList)
        {
            foreach (var partAns in participantAnswers)
            {
                if (partAns.Text == result.Text)
                {
                    if (partAns.CorrectFalse == result.CorrectFalse) numberOfCorrectAnswers++;
                }
            }
        }

        _multipleAnswersList.Add($"{participant.Nickname} got {numberOfCorrectAnswers} correct answers out of {optionsList.Count}");
        await InvokeAsync(StateHasChanged);
    }
    private async Task CloseHandleAnswersComponent()
    {
        _submittedAnswers = new();
        ShowHandleAnswers = false;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandlePointsDeducted(string nickName, QuestionJsonBlob question)
    {
        int pointsToDeduct = 0;
        switch (question.QuestionType)
        {
            case "Open":
                var quest = JsonSerializer.Deserialize<QuestionOpen>(question.Blob);
                pointsToDeduct = quest.Points;
                break;
            case "Slider":
                var slider = JsonSerializer.Deserialize<QuestionSlider>(question.Blob);
                pointsToDeduct = slider.Points;
                break;
            case "Multiple":
                var multiple = JsonSerializer.Deserialize<MultipleChoice>(question.Blob);
                pointsToDeduct = multiple.Points;
                break;

        }

        var user = _userList.Where(p => p.Nickname == nickName).FirstOrDefault();
        user.Score = user.Score - pointsToDeduct;
        Console.WriteLine(user);
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandlePointsAwarded(string nickName, QuestionJsonBlob question)
    {
        int pointsToAward = 0;
        switch (question.QuestionType)
        {
            case "Open":
                var quest = JsonSerializer.Deserialize<QuestionOpen>(question.Blob);
                pointsToAward = quest.Points;
                break;
            case "Slider":
                var slider = JsonSerializer.Deserialize<QuestionSlider>(question.Blob);
                pointsToAward = slider.Points;
                break;
            case "Multiple":
                var multiple = JsonSerializer.Deserialize<MultipleChoice>(question.Blob);
                pointsToAward = multiple.Points;
                break;

        }

        var user = _userList.Where(p => p.Nickname == nickName).FirstOrDefault();
        user.Score = user.Score + pointsToAward;
        Console.WriteLine(user);
        await InvokeAsync(StateHasChanged);
    }
    
    private double CalculateAverage()
    {
        if (_reviewResponses.Count == 0)
            return 0;
        
        return _reviewResponses.Values.Average();
    }

    private async Task TriggerAnimation()
    {
        _animationClass = "grow-animate";
        await InvokeAsync(StateHasChanged);

        await Task.Delay(300);

        _animationClass = "";
        await InvokeAsync(StateHasChanged);
    }

}