@using LBQuiz.Services.Interfaces
@using LBQuiz.Hubs
@using LBQuiz.Models.Lobby
@using LBQuiz.Models
@using Microsoft.EntityFrameworkCore
@using LBQuiz.Data
@inject ILobbyHubConnection LobbyHub
@inject ILobbyParticipantManager LobbyManager
@inject ILobbyService LobbyService
@inject ApplicationDbContext _dbContext


@page "/quiz/host/{joinCode}"


<h3>Host View</h3>
@if (_showResults == true)
{
    <ul>
        @foreach (var part in _userList)
        {
            <li>
                @part.Nickname -- @part.Score points
            </li>
        }
    </ul>
    <MudButton OnClick="EndQuiz">End Quiz</MudButton>
}
else
{

    <div class="hostPageContainer">
        <div>
            <MudItem xs="12" md="4">
                <MudPaper Class="pa-4" Style="height: 250px; background-color: antiquewhite; border: 1px solid black">
                    @if(AllQuestions == null || AllQuestions.Count != 0)
                    {
                        <MudItem>@AllQuestions[_questionIndex].QuestionText</MudItem>
                    }
                </MudPaper>
                <MudButton Disabled="previousButton" OnClick="PreviousQuestion">Previous question</MudButton>
                <MudButton Disabled="nextButton" OnClick="NextQuestion">Next question</MudButton>
                <MudButton Disabled="_resultButton" OnClick="ShowResults">Show results</MudButton>
            </MudItem>
        </div>
        <div>
            <MudText Typo="Typo.h2" Align="Align.Center" Style="text-decoration: underline">Participants</MudText>
            <ul>
                @foreach (var user in _userList)
                {
                    <li>
                        <MudAvatar Color="Color.Tertiary"
                                   Size="Size.Small">
                            @user.Nickname[0]
                        </MudAvatar>
                        - @user.Nickname - @user.Score points
                    </li>
                }
            </ul>
        </div>
    </div>
}



@code {
    [Parameter] 
    public string quizId { get; set; }
    [Parameter]
    public string lobbyId { get; set; }
    [Parameter]
    public string joinCode { get; set; }

    private bool previousButton = true;
    private bool nextButton = false;
    private bool _resultButton = true;
    private bool _showResults = false;
    private List<LobbyParticipant> _userList = new();
    private List<(LobbyParticipant Participant, string Answer)> _submittedAnswers = new();
    private int _questionIndex = 0;
    private List<QuestionOpen> AllQuestions = new();
    private int? _score = 0;
    private LBQuiz.Models.Lobby.QuizLobby currentLobby;


    

    protected override async Task OnInitializedAsync()
    {
        @foreach (var participant in LobbyHub.Participants)
        {
            _userList.Add(participant);
        }

        currentLobby = await LobbyService.GetLobbyByJoinCodeAsync(joinCode);

        AllQuestions = _dbContext.QuestionOpen.Where(q => q.QuizId == currentLobby.QuizId).ToList();

        LobbyHub.OnQuestionChanged += HandleNextQuestion;
        LobbyHub.OnAnswerRecieved += HandleAnswerRecieved;
        LobbyHub.OnCalculateScoreBoard += HandleScoreUpdate;
    }

    private async Task GetAllQuestionsFromQuiz()
    {
        var questions = _dbContext.QuestionOpen.Where(q => q.QuizId == currentLobby.QuizId).ToList();

        if (questions != null)
        {
            AllQuestions = questions;
        }
    }

    private async Task HandleNextQuestion(int questionIndex)
    {
        //Skapa logik för om man bara har en quetion i ett quiz.
        _questionIndex = questionIndex;
        if (_questionIndex == 0) previousButton = true;
        else if (_questionIndex == AllQuestions.Count - 1)
        {
            nextButton = true;
            _resultButton = false;
        }
        else if (AllQuestions.Count == 1)
        {
            previousButton = true;
            nextButton = true;
        }
        else
        {
            previousButton = false;
            nextButton = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task NextQuestion()
    {
        await LobbyHub.GoToNextQuestionAsync(_questionIndex, currentLobby.Id.ToString());
        await InvokeAsync(StateHasChanged);
    }

    private async Task PreviousQuestion()
    {
        await LobbyHub.GoToPreviousQuestionAsync(_questionIndex, currentLobby.Id.ToString());
        await InvokeAsync(StateHasChanged);
    }

    private async Task ShowResults()
    {
        _showResults = true;
        _userList = _userList.OrderByDescending(p => p.Score).ToList();
        await LobbyHub.GoToResultsAsync(_showResults, currentLobby.Id.ToString(), _userList);
        await InvokeAsync(StateHasChanged);
    }

    private async Task EndQuiz()
    {
        await LobbyHub.EndQuizAsync(currentLobby.Id.ToString());
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleAnswerRecieved(string answer, LobbyParticipant participant)
    {
        _submittedAnswers.Add((participant, answer));
        await InvokeAsync(StateHasChanged);
    }
    
    private async Task HandleScoreUpdate(string answer, QuestionOpen question, LobbyParticipant participant)
    {
        var existing = _userList.FirstOrDefault(p => p.ConnectionId == participant.ConnectionId);
        if (existing != null)
        {
            existing.Score = participant.Score;
        }
        await InvokeAsync(StateHasChanged);
    }
}