@using LBQuiz.Models
@using LBQuiz.Models.Helpers
@using Data
@using Services.Interfaces
@using LBQuiz.Models.Lobby
@using System.Text.Json
@using LBQuiz.Models.Helpers.AnswerDTO
@using Microsoft.AspNetCore.Components.Web

@inject IQuestionManager QuestionManager
@inject ILobbyHubService LobbyHub
@inject ILobbyParticipantManager LobbyManager
@inject ILobbyHubConnection HubConnection
@inject ISnackbar Snackbar
@inject IChatHubConnection ChatHubConnection
@inject IJSRuntime JS
@inject IQuizManager QuizManager
@inject ILobbyService LobbyService
@inject NavigationManager Navigation


@page "/quiz/play/{LobbyCode}"

@if (_showResults == false)
{
    @if (CurrentQuestion2 != null)
    {
        <div class="d-flex justify-space-between align-center mb-3">
            <MudChip T="string" Color="Color.Primary" Size="Size.Small">
                Question @(CurrentQuestion2.SortOrder) / @AllQuestions.Count
            </MudChip>
        </div>
        <MudProgressLinear Value="@((CurrentQuestion2.SortOrder) * 100.0 / AllQuestions.Count)" Color="Color.Primary" Class="mb-6" Rounded="true" Size="Size.Small" />

    }
    <div class="d-flex flex-column align-center justify-center flex-grow-1" style="width: 100%;">
    @if(CurrentQuestion2 != null && CurrentQuestion2 is QuestionOpen questionOpen)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: auto">
                <MudText Typo="Typo.h2" Class="mb-3">@questionOpen.QuestionText</MudText>
                <MudTextField @bind-Value="Answer" Label="Answer" Variant="Variant.Filled"></MudTextField>
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => SaveAnswer(Answer))">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
    else if (CurrentQuestion2 != null && CurrentQuestion2 is QuestionSlider questionSlider)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: auto">
                <MudText Typo="Typo.h2" Class="mb-3">@questionSlider.QuestionText</MudText>
                <MudSlider @bind-Value="sliderValue" Min="@questionSlider.MinValue" Max="@questionSlider.MaxValue">Value: @sliderValue.ToString()</MudSlider>
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() =>SaveAnswer(sliderValue.ToString()))">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
    else if(CurrentQuestion2 != null && CurrentQuestion2 is MultipleChoice questionMultiple)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: auto;">
                <MudText Typo="Typo.h2" Class="mb-3">@questionMultiple.QuestionText</MudText>
                
                <MudButton Disabled="answerButtonShow" OnClick="() => SubmitMulipleChoice()">Submit answers</MudButton>
            </MudPaper>
        </MudItem>
        <MudGrid Style="margin-top: 20px;" Justify="Justify.Center">
            @foreach (var option in questionMultiple.MultipleOptionsList)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudLink OnClick="() => OnClickChangeColor(option)" Style="text-align: center;">
                        <MudCard Outlined="true" Class="pa-2">
                            <MudCardContent Style=@($"background:{option.ColorString}")>
                                <MudText Typo="Typo.body2">
                                    @option.Text
                                </MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudLink>
                </MudItem>
            }
        </MudGrid>
    }
    else if (CurrentQuestion2 != null && CurrentQuestion2 is QuestionWordCloud questionWordCloud)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: auto">
                <MudText Typo="Typo.h2" Class="mb-3">@questionWordCloud.QuestionText</MudText>
                @for (int i = 0; i < questionWordCloud.MaxEntries; i++)
                {
                    var index = i;
                    <MudTextField @bind-Value="_wordCloudEntries[index]"
                                  Label="@($"Word {index + 1}")"
                                  Variant="Variant.Filled"
                                  Class="mb-2"/>
                }
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitWordCloud">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
    else if (CurrentQuestion2 != null && CurrentQuestion2 is QuestionReview questionReview)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: auto">
                <MudText Typo="Typo.h2" Class="mb-3">@questionReview.QuestionText</MudText>
                <MudSlider @bind-Value="sliderValue" Min="@questionReview.MinValue" Max="@questionReview.MaxValue">Value: @sliderValue.ToString()</MudSlider>
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => SaveAnswer(sliderValue.ToString()))">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
    </div>
    @if (!_chatOpen)
    {
        <div style="position:fixed; bottom:20px; right:20px; z-index:2000;">
            <MudBadge Content="@_unreadChatCount" Color="Color.Error" Overlap="true" Visible="@(_unreadChatCount > 0)">
                <MudFab Icon="@Icons.Material.Filled.Chat"
                        Label="Chat"
                        Color="Color.Secondary"
                        OnClick="@OpenChat" />
            </MudBadge>
        </div>
    }
    <MudDrawer Anchor="Anchor.Right"
           Open="_chatOpen"
           OpenChanged="OnDrawerOpenChanged"
           Variant="DrawerVariant.Temporary"
           Elevation="6"
           Width="400px">

    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Chat</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Close"
                       OnClick="@(() => _chatOpen = false)" />
    </MudDrawerHeader>

    <MudDivider />

    <MudDrawerContent>

        <LBQuiz.Components.Pages.Chat.ChatComponent 
            HostId="@_currentHostId" 
            LobbyId="@_currentLobby.Id.ToString()" />

    </MudDrawerContent>
</MudDrawer>
}
else
{
    // Display scoreboard
    <MudText Typo="Typo.h2" Align="Align.Center">Results</MudText>
    
    @if (_currentParticipant != null)
    {
        <MudContainer Class="mb-5">
            <MudPaper Class="pa-4 text-center" Style="background-color: lightblue">
                <MudText Typo="Typo.h3">Rank: @_currentParticipantRank</MudText>
                <MudText Typo="Typo.h4">@_currentParticipant.Nickname</MudText>
                <MudText Typo="Typo.body1" Color="Color.Primary">Score: @_currentParticipant.Score</MudText>
            </MudPaper>
            <MudFab Class="mt-3" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Groups" Label="@(_showScoreboard ? "Hide Scoreboard" : "View Scoreboard")" OnClick="() => _showScoreboard = !_showScoreboard"></MudFab>
        </MudContainer>
    }
    
    @if (_showScoreboard || _currentParticipant == null)
    {
        <MudContainer Class="mb-5">
            <MudStack Spacing="2">
                @foreach (var part in ParticipantsList.Select((p, index) => new { Player = p, Rank = index + 1 }))
                {
                    <MudPaper Class="pa-2 d-flex justify-content-between align-items-center" Style="background-color: lightblue">
                        <MudText Typo="Typo.body1" Class="me-3">@part.Rank</MudText>
                        <MudText Typo="Typo.body1" Class="flex-grow-1">@part.Player.Nickname</MudText>
                        <MudText Typo="Typo.body1" Color="Color.Primary">@part.Player.Score</MudText>
                    </MudPaper>
                }
            </MudStack>
        </MudContainer>
    }
}


@code {
    [Parameter]
    public string quizId { get; set; }
    [Parameter]
    public string lobbyId { get; set; }
    [Parameter]
    public string LobbyCode { get; set; }

    public QuestionJsonBlob CurrentQuestion { get; set; }
    public Models.Question CurrentQuestion2 { get; set; }
    public List<QuestionJsonBlob> AllQuestions { get; set; }

    public string _currentHostId { get; set; }

    public List<ChatMessage> AllMesseages { get; set; } = new List<ChatMessage>();

    private int _index = 0;
    public string Answer { get; set; }
    private bool answerButtonShow = false;
    private bool _showResults = false;
    private bool _showScoreboard = false;
    private LobbyParticipant? _currentParticipant;
    private int _currentParticipantRank;
    private List<string> _wordCloudEntries = new();

    private List<LobbyParticipant> ParticipantsList { get; set; } = new();

    public int sliderValue { get; set; }

    private string _colorString { get; set; } = "rgba(255,0,0,0.4)";
    public List<MultipleOptions> ParticipantAnswers = new();
    private HashSet<int> SelectedOptionIds = new();

    public ChatMessage playerMessage { get; set; } = new();

    private bool _chatOpen = false;
    private int _unreadChatCount = 0;

    private Models.Lobby.QuizLobby _currentLobby = new();



    protected override async Task OnInitializedAsync()
    {
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        lobbyId = lobby.Id.ToString();
        int qId = lobby.QuizId;
        AllQuestions = await QuestionManager.GetAllQuestionJsonBlobAsync(qId);

        await HubConnection.InitializeAsync(Navigation);
        await ChatHubConnection.InitializeAsync(Navigation);
        await ChatHubConnection.JoinLobbyChatAsync(lobbyId);

        ChatHubConnection.OnMessageRecived += HandleChatMessageReceived;

        ParticipantsList = LobbyManager.GetLeaderboard(lobby.Id);
        HubConnection.OnAnswerRecieved += HandleAnswerReceived;
        HubConnection.OnQuestionChanged += HandleNextQuestion;
        HubConnection.OnResultShow += HandleShowResults;
        ChatHubConnection.OnMessageRecived += HandleAnswerReceived;


        CurrentQuestion = AllQuestions[_index];
        //Hämta HostId från quizmanager. GetHostIdFromQuiz metod.
        _currentHostId = await QuizManager.GetHostIdFromQuiz(CurrentQuestion.QuizId);
        _currentLobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);

        await GetQuestionType();

        if (_index < (AllQuestions.Count))
        {
            _index++;
        }
        if(CurrentQuestion2 is MultipleChoice multiple)
        {
            ParticipantAnswers = multiple.MultipleOptionsList;
        }
        foreach(var pA in ParticipantAnswers)
        {
            pA.CorrectFalse = false;
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var nickname = await JS.InvokeAsync<string>("sessionStorage.getItem", "lobbyNickname");
            if (!string.IsNullOrEmpty(nickname))
            {
                var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
                await HubConnection.RejoinLobbyAsync(lobby.Id, nickname);
            }
        }
    }

    public async Task SaveAnswer(string formattedAnswer)
    {
        var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
        int lobbyId = lobby.Id;
        var quizId = lobby.QuizId;

        await HubConnection.SubmitAnswer(lobbyId, formattedAnswer, quizId);
        await HubConnection.UpdateScoreBoard(CurrentQuestion.Id, formattedAnswer);

        answerButtonShow = true;
        Answer = string.Empty;
    }

    private Task HandleAnswerReceived(string answer, LobbyParticipant lobbyParticipant)
    {
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    private async Task HandleNextQuestion(int questionIndex)
    {
        answerButtonShow = false;
        _index = questionIndex;
        CurrentQuestion = questionIndex < AllQuestions.Count ? AllQuestions[_index] : AllQuestions[_index - 1];
        await GetQuestionType();
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleShowResults(bool showResults, List<LobbyParticipant> scoreBoard)
    {
        ParticipantsList = scoreBoard.OrderByDescending(p => p.Score).ToList();
        _showResults = showResults;

        // Get current participant using connection ID
        if (HubConnection.ConnectionId != null)
        {
            _currentParticipant = ParticipantsList.FirstOrDefault(p => p.ConnectionId == HubConnection.ConnectionId);
            _currentParticipantRank = ParticipantsList.FindIndex(p => p.ConnectionId == HubConnection.ConnectionId) + 1;
        }

        await InvokeAsync(StateHasChanged);
    }
    private async Task GetQuestionType()
    {
        string questionType = await QuestionManager.GetQuestionTypeStringAsync(CurrentQuestion);
        try
        {
            if (questionType == "Open")
            {
                var question = JsonSerializer.Deserialize<QuestionOpen>(CurrentQuestion.Blob);
                CurrentQuestion2 = question!;
            }
            else if (questionType == "Slider")
            {
                var question = JsonSerializer.Deserialize<QuestionSlider>(CurrentQuestion.Blob);
                CurrentQuestion2 = question!;
            }
            else if (questionType == "Multiple")
            {
                var lobby = await LobbyService.GetLobbyByJoinCodeAsync(LobbyCode);
                int so = await QuestionManager.GetSortOrderAsync(lobby.QuizId);
                var multiple = JsonSerializer.Deserialize<MultipleChoiceQuestionDTO>(CurrentQuestion.Blob);
                CurrentQuestion2 = new MultipleChoice
                    {
                        Id = CurrentQuestion.Id,
                        QuizId = CurrentQuestion.QuizId,
                        QuestionText = CurrentQuestion.QuestionText,
                        Points = multiple.Points,
                        SortOrder = CurrentQuestion.SortOrder,
                        MultipleOptionsList = multiple.MultipleOptionsList
                    };
            }
            else if (questionType == "WordCloud")
            {
                var dto = JsonSerializer.Deserialize<WordCloudQuestionDTO>(CurrentQuestion.Blob);
                var wc = new QuestionWordCloud
                {
                    Id = CurrentQuestion.Id,
                    QuizId = CurrentQuestion.QuizId,
                    QuestionText = CurrentQuestion.QuestionText,
                    SortOrder = CurrentQuestion.SortOrder,
                    Points = dto.Points,
                    MaxEntries = dto.MaxEntries
                };
                CurrentQuestion2 = wc;
                _wordCloudEntries = new List<string>(new string[wc.MaxEntries]);
            }
            else if (questionType == "Review")
            {
                var dto = JsonSerializer.Deserialize<ReviewQuestionDTO>(CurrentQuestion.Blob);
                var review = new QuestionReview
                {
                    Id = CurrentQuestion.Id,
                    QuizId = CurrentQuestion.QuizId,
                    QuestionText = CurrentQuestion.QuestionText,
                    SortOrder = CurrentQuestion.SortOrder,
                    Points = dto.Points,
                    MinValue = dto.MinValue,
                    MaxValue = dto.MaxValue
                };
                CurrentQuestion2 = review;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Failed to deserialize object: " + ex);
        }
    }

    private async Task SubmitMulipleChoice()
    {
        answerButtonShow = true;
        var formattedAnswer = JsonSerializer.Serialize(SelectedOptionIds.ToList());
        await SaveAnswer(formattedAnswer);
    }

    private async Task SubmitWordCloud()
    {
        var words = _wordCloudEntries.Where(w => !string.IsNullOrWhiteSpace(w)).ToList();
        var formattedAnswer = JsonSerializer.Serialize(words);
        await SaveAnswer(formattedAnswer);
    }
    
    public void OnClickChangeColor(MultipleOptions option)
    {
        bool isSelected = SelectedOptionIds.Contains(option.Id);

        if (isSelected)
        {
            SelectedOptionIds.Remove(option.Id);
            option.ColorString = "rgba(255,0,0,0.4)";
        }
        else
        {
            SelectedOptionIds.Add(option.Id);
            option.ColorString = "rgba(0,255,0,0.4)";
        }
    }
    public async Task OnHandleChatSend()
    {

        string nickName = "Nickname";
        string userId = "";

        try
        {
            _currentParticipant = LobbyManager.GetLobbyParticipant(HubConnection.ConnectionId);
            nickName = string.IsNullOrEmpty(_currentParticipant.Nickname) ? "Nickname" : _currentParticipant.Nickname;
            userId = _currentParticipant.ConnectionId;
            playerMessage.SenderName = nickName;
            playerMessage.SenderId = userId;
            playerMessage.TimeSent = DateTime.UtcNow;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        await ChatHubConnection.SendMessage(playerMessage);
    }
    public async Task HandleAnswerReceived(ChatMessage chatMessage)
    {
        AllMesseages.Add(chatMessage);
        AllMesseages = AllMesseages.OrderByDescending(q => q.TimeSent).ToList();
        await InvokeAsync(StateHasChanged);
    }
    public async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            await OnHandleChatSend();
        }
    }
    private void OpenChat()
    {
        _chatOpen = true;
        _unreadChatCount = 0;
    }
    private void OnDrawerOpenChanged(bool isOpen)
    {
        _chatOpen = isOpen;
    }

    private async Task HandleChatMessageReceived(ChatMessage message)
    {
        if (!_chatOpen)
        {
            _unreadChatCount++;
            await InvokeAsync(StateHasChanged);
        }
    }
}
