@using LBQuiz.Models
@using LBQuiz.Models.Helpers
@using Data
@using Services.Interfaces
@using System.Collections.Concurrent;
@using LBQuiz.Models.Lobby
@using LBQuiz.Hubs
@using System.Text.Json
@inject ApplicationDbContext DbContext
@inject IQuestionManager QuestionManager
@inject ILobbyHubService LobbyHub
@inject ILobbyParticipantManager LobbyManager
@inject ILobbyHubConnection HubConnection


@page "/quiz/play/{quizId}/{lobbyId}"

<h3>PlayQuiz</h3>

@if (_showResults == false)
{
    @if(CurrentQuestion2 != null && CurrentQuestion2 is QuestionOpen questionOpen)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: 250px">
                <MudText Typo="Typo.h2" Class="mb-3">@questionOpen.QuestionText</MudText>
                <MudTextField @bind-Value="Answer" Label="Answer" Variant="Variant.Filled"></MudTextField>
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveAnswerOpen">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
    else if (CurrentQuestion2 != null && CurrentQuestion2 is QuestionSlider questionSlider)
    {
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: 250px">
                <MudText Typo="Typo.h2" Class="mb-3">@questionSlider.QuestionText</MudText>
                <MudSlider @bind-Value="sliderValue" Min="@questionSlider.MinValue" Max="@questionSlider.MaxValue">Value: @sliderValue.ToString()</MudSlider>
                <MudButton Disabled="answerButtonShow" Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveAnswerSlider">Submit answer</MudButton>
            </MudPaper>
        </MudItem>
    }
    else if(CurrentQuestion2 != null && CurrentQuestion2 is QuestionMultiple questionMultiple)
    {
        
    }
}
else
{
    <ul>
        @foreach (var part in ParticipantsList)
        {
            <li>
                @part.Nickname -- @part.Score points
            </li>
        }
    </ul>
}


@code {
    [Parameter]
    public string quizId { get; set; }
    [Parameter]
    public string lobbyId { get; set; }

    public Models.QuestionJsonBlob CurrentQuestion { get; set; }
    public Models.Question CurrentQuestion2 { get; set; }
    public List<Models.QuestionJsonBlob> AllQuestions { get; set; }

    private int _index = 0;
    private int? _score = 0;
    public string Answer { get; set; }
    private bool answerButtonShow = false;
    private bool _showResults = false;

    public List<Models.Lobby.LobbyParticipant> ParticipantsList { get; set; } = new List<Models.Lobby.LobbyParticipant>();
    public List<string> AllAnswers = new();

    public int sliderValue { get; set; }


    protected override async Task OnInitializedAsync()
    {
        int qId = int.Parse(quizId);
        AllQuestions = await QuestionManager.GetAllQuestionJsonBlobAsync(qId);

        ParticipantsList = LobbyManager.GetLeaderboard(int.Parse(lobbyId));
        HubConnection.OnAnswerRecieved += HandleAnswerReceived;
        HubConnection.OnQuestionChanged += HandleNextQuestion;
        HubConnection.OnResultShow += HandleShowResults;

        CurrentQuestion = AllQuestions[_index];

        await GetQuestionType();

        if (_index < (AllQuestions.Count))
        {
            _index++;
        }
    }

    public async Task SaveAnswerOpen()
    {
        //Ska kalla på service
        await HubConnection.SubmitAnswer(int.Parse(lobbyId), Answer, int.Parse(quizId));
        //Borde skicka med viken user som svarade
        await HubConnection.UpdateScoreBoard(CurrentQuestion2, Answer);
        answerButtonShow = true;
    }

    public async Task SaveAnswerSlider()
    {
        //Todo: gör en hubconnection metod som skickar en sträng om vad användaren svarde till host...
        await HubConnection.SubmitSliderAnswer(int.Parse(lobbyId), sliderValue, int.Parse(quizId), CurrentQuestion2.QuestionText);
    }

    public async Task FillList(string viewString)
    {
        AllAnswers.Add(viewString);
    }

    private Task HandleAnswerReceived(string answer, Models.Lobby.LobbyParticipant lobbyParticipant)
    {
        string viewString = $"{lobbyParticipant.Nickname} answered: {answer}";
        FillList(viewString);
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }
    private Task HandleScoreBoard(string answer, Models.QuestionOpen question, Models.Lobby.LobbyParticipant lobbyParticipant)
    {
        var existing = ParticipantsList.FirstOrDefault(p => p.ConnectionId == lobbyParticipant.ConnectionId);
        if (existing != null)
        {
            existing.Score = lobbyParticipant.Score;
        }
        else
        {
            ParticipantsList.Add(lobbyParticipant);
        }
        ParticipantsList = ParticipantsList.OrderByDescending(p => p.Score).ToList();
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    private async Task HandleNextQuestion(int questionIndex)
    {
        answerButtonShow = false;
        _index = questionIndex;
        CurrentQuestion = AllQuestions[_index];
        await GetQuestionType();
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleShowResults(bool showResults, List<LobbyParticipant> scoreBoard)
    {
        ParticipantsList = scoreBoard.OrderByDescending(p => p.Score).ToList();
        _showResults = showResults;
        await InvokeAsync(StateHasChanged);
    }
    private async Task GetQuestionType()
    {
        string questionType = await QuestionManager.GetQuestionTypeStringAsync(CurrentQuestion);
        try
        {
            if (questionType == "Open")
            {
                var question = JsonSerializer.Deserialize<QuestionOpen>(CurrentQuestion.Blob);
                CurrentQuestion2 = question!;
            }
            else if (questionType == "Slider")
            {
                var question = JsonSerializer.Deserialize<QuestionSlider>(CurrentQuestion.Blob);
                CurrentQuestion2 = question!;
            }
            else if (questionType == "Multiple")
            {
                //Plocka ut questionId för att leta upp var vi ska stoppa objekten
                var questions = JsonSerializer.Deserialize<List<MultipleChoiceAnswer>>(CurrentQuestion.Blob);
                int questionId = questions[0].QuestionId;
                CurrentQuestion2 = await QuestionManager.GetQuestionMultipleFromQuestionIdAsync(questionId);
                foreach(var q in questions)
                {
                    
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine("Failed to deserialize object: " + ex);
        }
    }
}
