@page "/viewquiz"
@using Data
<h3>ViewQuiz</h3>

@if(SelectedQuiz != null)
{

    @* @foreach(var question in AllQuestions)
    {
        int order = question.SortOrder;
        string answear = "";
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4" Style="height: 250px; background-color: antiquewhite; border: 1px solid black">
                <MudText Typo="Typo.h6" Class="mb-3">@question.QuestionText</MudText>
                <MudTextField @bind-Value="IdAnswer[order]" Label="Answer" Variant="Variant.Outlined"></MudTextField>
                <MudButton @onclick="@(() => CheckAnswer(order))" >Save</MudButton>
                <MudText>@IdAnswer.GetValueOrDefault(order)</MudText>
            </MudPaper>
        </MudItem>
    } *@
    
    var selectedQuestion = AllQuestions[_index];
    int order = selectedQuestion.SortOrder;
    string answear = "";
    <MudItem xs="12" md="4">
        <MudPaper Class="pa-4" Style="height: 250px; background-color: antiquewhite; border: 1px solid black">
            <MudText Typo="Typo.h6" Class="mb-3">@selectedQuestion.QuestionText</MudText>
            <MudTextField @bind-Value="IdAnswer[order]" Label="Answer" Variant="Variant.Outlined"></MudTextField>
            <MudButton @onclick="@(() => CheckAnswer(order))">Save</MudButton>
            <MudText>@IdAnswer.GetValueOrDefault(order)</MudText>
        </MudPaper>
    </MudItem>
}

@code {
    public Models.Quiz SelectedQuiz { get; set; }
    private int _quizId { get; set; } = 1;
    public List<Models.Question> AllQuestions { get; set; }
    private readonly ApplicationDbContext _dbContext;
    private Dictionary<int, string> IdAnswer = new Dictionary<int, string>();
    private string _answer { get; set; }
    private int _index = 0;

    public ViewQuiz(ApplicationDbContext dbContext)
    {
        _dbContext = dbContext;
    }


    protected override void OnInitialized()
    {
        //Change from First to Id from SelectedQuiz
        var selectedQuiz = _dbContext.Quiz.FirstOrDefault(q => q.Id == _quizId);
        if(selectedQuiz != null)
        {
            SelectedQuiz = selectedQuiz;
        }
        GetAllQuestionsFromQuiz().GetAwaiter().GetResult();
        foreach(var q in AllQuestions)
        {
            IdAnswer[q.SortOrder] = "";
        }
    }



    private async Task GetAllQuestionsFromQuiz()
    {
        var questions = _dbContext.Question.Where(q => q.QuizId == _quizId).ToList();

        if(questions != null)
        {
            AllQuestions = questions;
        }
    }
    private void CheckAnswer(int order)
    {
        var answer = IdAnswer[order];
        if (_index != (AllQuestions.Count() - 1)) _index++;
       
    }
}
